.homepage-banner {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include media-breakpoint-up(lg) {
    height: 591px;
  }
  h1 {
    color: $white;
    @include media-breakpoint-up(xl) {
      font-size: 3.5rem;
      font-weight: 600;
    }
    line-height: normal;
  }
}
.view-featured.itemid-101 .site-grid .container-banner.full-width {
  margin: 0 0 -3rem 0;
}
