/*** Paleta de colores institucionales principales ***/

/* Grises */
$negro: #010101;
$gris1: #50535c;
$gris2: #aaaaaa;
$gris3: #e7e7e7;
$blanco: #f4f4f4;

/* Violeta institucional */
$violeta: #9283be;
$violeta4: lighten($violeta, 30%);

/*** Paleta de colores secundarios ***/

$rosa: #ee3d8f;
$dorado: #f7941e;
$verde: #d7df23;
$azul: #50b8b1;

/*** Otros colores distintivos ***/
$whatsapp: #289032;
