/* Menú principal */
nav.navbar {
  place-content: flex-end;
  align-self   : center;
  background-color: $violeta;

  .mod-menu>.metismenu-item:last-of-type {
    padding-right: 0;
  }

  .mod-menu .mm-toggler:after {
    font-family : 'FontAwesome';
    font-size   : 1rem;
    font-weight : normal;
    content     : '\f107';
    color       : $rosa;
    padding-left: 5px;
    border      : inherit;
    width       : auto;
    height      : auto;
  }

  ul.mod-menu>li>a,
  ul.mod-menu li ul li a {
    color      : #fff;
    font-weight: 500;
  }
}

/* Menu Intranet */
.home-intranet .container-sidebar-left::before {
  content: url(../images/logo-intranet.png);
  margin : 0 auto;
  padding: $garrahan-grid-gutter;
}

.container-sidebar-left {
  background-color: $violeta;

  .logo .custom {
    text-align: center;
  }

  h5 {
    text-align    : center;
    text-transform: uppercase;
  }

  ul.mod-menu li a {
    color         : #fff;
    text-transform: uppercase;
  }
}

.container-sidebar-left ul.mod-menu li ul li a {
  text-transform: capitalize;

  &::before {
    content      : '>';
    padding-right: 1.5em;
  }
}

.sidebar-left ul.mod-menu.metismenu li {
  padding        : 1em 2em 1em 1em;
  justify-content: space-between;

  span.image-title {
    position    : relative;
    top         : 2px;
    padding-left: 15px;
  }

  button:hover {
    text-decoration: none;
  }

  .mm-toggler {
    outline: none;

    &:after {
      content   : '+';
      color     : #fff;
      text-align: right;
      width     : auto;
      height    : auto;
      border    : none;
    }
  }

  .mm-collapse {
    background-color: inherit;
  }
}