// CSS Grid

body {
  display: flex;
  flex-direction: column;

  &.wrapper-fluid {
    .site-grid {
      grid-template-columns:
        [full-start] minmax(0, 1fr) [main-start] repeat(4, minmax(0, 25%))
        [main-end] minmax(0, 1fr) [full-end];
      grid-gap: 0 ($garrahan-grid-gutter * 2);
    }

    .grid-child {
      max-width: none;
    }

    header > .grid-child,
    footer > .grid-child {
      padding-right: $garrahan-grid-gutter * 2;
      padding-left: $garrahan-grid-gutter * 2;
    }
  }

  &:not(.has-sidebar-left) .site-grid .container-component {
    grid-column-start: main-start;
  }

  &:not(.has-sidebar-right) .site-grid .container-component {
    grid-column-end: main-end;
  }
}

.site-grid {
  margin-bottom: auto;
}

@supports (display: grid) {
  .site-grid {
    display: grid;
    grid-template-areas:
      '. banner banner banner banner .'
      '. top-a top-a top-a top-a .'
      '. titulo-top-b titulo-top-b titulo-top-b titulo-top-b .'
      '. top-b top-b top-b top-b .'
      '. titulo-comp titulo-comp titulo-comp titulo-comp .'
      '. comp comp comp comp .'
      '. side-r side-r side-r side-r .'
      '. side-l side-l side-l side-l .'
      '. bot-a bot-a bot-a bot-a .'
      '. titulo-bot-b titulo-bot-b titulo-bot-b titulo-bot-b .'
      '. bot-b bot-b bot-b bot-b .'
      '. bot-c bot-c bot-c bot-c .'
      '. bot-d bot-d bot-d bot-d .'
      '. titulo-bot-e titulo-bot-e titulo-bot-e titulo-bot-e .'
      '. bot-e bot-e bot-e bot-e .'
      '. logos logos logos logos .';
    grid-template-columns:
      [full-start] minmax(0, 1fr) [main-start] repeat(4, minmax(0, 22.875rem))
      //aumentamos 19.875rem a 22.875
      [main-end] minmax(0, 1fr) [full-end];
    grid-gap: 0 $garrahan-grid-gutter;

    > [class^='container-'],
    > [class*=' container-'] {
      width: 100%;
      max-width: none;
      column-gap: $garrahan-grid-gutter;
    }

    > .full-width {
      grid-column: full-start / full-end;
    }

    @include media-breakpoint-up(lg) {
      grid-template-areas:
        '. banner banner banner banner .'
        '. top-a top-a top-a top-a .'
        '. titulo-top-b titulo-top-b titulo-top-b titulo-top-b .'
        '. top-b top-b top-b top-b .'
        '. titulo-comp titulo-comp titulo-comp titulo-comp .'
        '. side-l comp comp side-r .'
        '. bot-a bot-a bot-a bot-a .'
        '. titulo-bot-b titulo-bot-b titulo-bot-b titulo-bot-b .'
        '. bot-b bot-b bot-b bot-b .'
        '. bot-c bot-c bot-c bot-c .'
        '. bot-d bot-d bot-d bot-d .'
        '. titulo-bot-e titulo-bot-e titulo-bot-e titulo-bot-e .'
        '. bot-e bot-e bot-e bot-e .'
        '. logos logos logos logos .';
    }
  }

  .header-grid {
    display: grid;
    grid-template-areas:
      'emptyl icons icons submenu submenu emptyr'
      'logo logo search search search search'
      'menu menu menu menu menu menu';
    grid-template-columns:
      [full-start] minmax(0, 1fr) [main-start] repeat(4, minmax(0, 23.575rem))
      //aumentamos 22.875 rem a 23.575
      [main-end] minmax(0, 1fr) [full-end];
    grid-gap: 0;

    > [class^='container-'],
    > [class*=' container-'] {
      width: 100%;
      max-width: none;
      column-gap: $garrahan-grid-gutter;
    }

    > .full-width {
      grid-column: full-start / full-end;
    }

    @include media-breakpoint-down(lg) {
      grid-template-areas:
        '. menu menu menu menu .'
        '. logo logo logo logo .'
        '. icons icons search search .'
        '. submenu submenu submenu submenu .';
    }
  }

  .main-grid {
    display: grid;
    grid-template-columns:
      [full-start] minmax(0, 1fr) [main-start] repeat(4, minmax(0, 22.875rem))
      //aumentamos 19.875rem a 22.875
      [main-end] minmax(0, 1fr) [full-end];
    grid-gap: 0 $garrahan-grid-gutter;
    .page-header {
      grid-column: full-start / full-end;
    }
    .main-grid-child:not(.page-header) {
      grid-column: main-start / main-end;
    }
  }
}

.container-banner {
  grid-area: banner;
}

.container-top-a {
  grid-area: top-a;
}

.container-top-b {
  grid-area: top-b;
}

.container-component {
  grid-area: comp;
}

.container-sidebar-left {
  grid-area: side-l;
}

.container-sidebar-right {
  grid-area: side-r;
}

.container-main-top {
  grid-area: main-t;
}

.container-main-bottom {
  grid-area: main-b;
}

.container-breadcrumbs {
  grid-area: bread;
}

.container-bottom-a {
  grid-area: bot-a;
}

.container-bottom-b {
  grid-area: bot-b;
}

.container-bottom-c {
  grid-area: bot-c;
}

.container-bottom-d {
  grid-area: bot-d;
}
.container-titulo-bottom-e {
  grid-area: titulo-bot-e;
}
.container-bottom-e {
  grid-area: bot-e;
}
.logos {
  grid-area: logos;
}

//Header grid
.redes {
  grid-area: icons;
}
.emptyl {
  grid-area: emptyl;
}
.emptyr {
  grid-area: emptyr;
}
.submenu {
  grid-area: submenu;
}
.search {
  grid-area: search;
  grid-column-end: 6;
}
.navbar-brand {
  grid-area: logo;
  grid-column-start: 2;
}
.navbar {
  grid-area: menu;
  grid-column-end: full-end;
}
