// Variables, Functions and Mixins
@import "../tools/tools";

:root {
  --garrahan-color-primary: #{$standard-color-primary};
  --garrahan-color-link: #{$standard-color-link};
  --garrahan-color-hover: #{$standard-color-hover};
}
